body,
html {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: inline-block;
    background-color: rgb(78, 78, 209);
    text-align: center;
    width: 100%;
}

#headerTitle {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

#buttonGroup {
    margin-top: 40vh;
    display: inline-block;
    width: 100%;
    height: 50vh;
    text-align: center;
}

#newWorkoutBox {
    margin-top: 10vh;
    display: inline-block;
    width: 500px;
}

.newWorkoutInput {
    margin-top: 8vh;
    padding: 15px;
    width: 100%;
    height: 40px;
    font-size: 30px;
}

#saveWorkout {
    margin-top: 50px;
    color: whitesmoke;
    background-color: rgb(74, 74, 192);
    width: 120px;
    height: 60px;
    font-size: 25px;
}

#newWorkout,
#myWorkouts,
#editWorkouts {
    border: none;
    border-radius: 10px;
    background-color: rgb(78, 78, 209);
    color: whitesmoke;
    width: 200px;
    height: 75px;
}